@charset "utf-8";

body {
	background-color: #261D00;
	color: #261D00;
	font-size: 1em;
	line-height: 1.9em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pageWrapper {
	width: 998px;
	margin: 0 auto;
	background-color: #fce298;
}
p {
	text-align: justify;	
}
.section6 p {
	margin-right: 25px;
	margin-left: 25px;
}
.section1 p {
	margin-right: 25px;	
}
h1 {
	font-size: 3.5em;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px;
}
h2 {
	font-size: 2.5em;
	clear: both;
	text-align: center;
}
h3 {
	font-size: 1.5em;
	padding-left: 25px;
	padding-bottom: 10px;
}
h4 {
	font-size: 1.1em;
	padding-left: 25px;	
}
header {
	
}
nav {
	
}
nav ul {
	width: 1000px;
	top: 0;
	list-style-type: none;
	font-size: 1.5em;
	background-color: #261D00;
	margin: 0;
	padding: 0;
	position: fixed;
}
nav li{
	float: left;
	width: 248px;
	border-right: thin solid #fce298;
	border-bottom: medium double #fce298;
}
nav a {
	padding: 14px 16px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fce298;
}
nav a:hover {
	background-color: #fce298;
	color: #261D00;
}
nav h2 {
	display: none;
}
body.homepage a.homepage, body.recipes a.recipes, body.about a.about, body.contactus a.contactus {
	background-color: #fce298;
	color: #261D00; 	
}
#homepage {
	border-left: thin solid #fce298;
}
.section1 figure {
	float: left;
}
.section2 figure, .section3 figure, .section4 figure, .section5 figure {
	float: right;
}
.directions {
	clear: both;	
}
.section3, .section4, .section5 {
	padding-top: 10px;
	padding-bottom: 10px;	
}
hr {
	clear: both;
	border: medium double #261D00;
}
footer {
	text-align: center;
}
img {
	border: medium solid #261D00;
}
.label {
	display: inline-block;
	width: 250px;
	vertical-align: top;
	text-align: right;
	margin-right: 10px;
}
form {
	width: 750px;
	margin: 0 auto;	
}
.buttons {
	text-align: center;	
}
.submit, .reset {
	color: #fce298;
	background-color: #261D00;
	font-size: 20px;
	padding: 2px 5px;
	font-weight: bold;
	border: hidden;
	border-radius: 5px;
}
fieldset {
		border-color: #261D00; 
}
