@charset "utf-8";

@font-face {
	font-family: headingsFont;
	src: url(font2/DiavloBlack.otf);
}
body {
	color: black;
	font-size: 1.1em;
	line-height: 1.9em;
	font-family: 'Roboto', sans-serif;
	background-image: -webkit-linear-gradient(270deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
	background-color: #016053;
	background-attachment: fixed;
}

#pageWrapper {
	width: 999px;
	margin: 0 auto;
	background-color: #fce298;
}
p {
	text-align: justify;	
}

/* -------Headings-------*/

header {
	margin-top: 40px;
	height: 300px;
	background-repeat: no-repeat;
	border-bottom: thick double #261D00;
	background-image: url(images/logo.png);
}
h2 {
	font-size: 3em;
	clear: both;
	text-align: center;
	text-shadow: 2px 2px #907E41;
	font-family: headingsFont;
}
h3 {
	font-size: 2em;
	padding-left: 25px;
	padding-bottom: 10px;
	font-family: headingsFont;
}
h4 {
	font-size: 1.5em;
	padding-left: 25px;
	font-family: headingsFont;	
}
h5 {
	font-size: 1.1em;
	font-family: headingsFont;
}

/* --------Navigation------- */

nav ul {
	width: 1000px;
	top: 0;
	list-style-type: none;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #016053;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1;
}
nav li{
	float: left;
	width: 248.5px;
	border-right: thin solid #fce298;
	border-bottom: medium double #fce298;
	background-image: url(images/frost.png);
}
nav a {
	padding: 14px 16px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fce298;
}
nav a:hover {
	background-image: url(images/frost.png);
	background-color: #fce298;
	color: #016053;
}
body.homepage a.homepage, body.recipes a.recipes, body.about a.about, body.contactus a.contactus {
	background-image: url(images/frost.png);
	background-color: #fce298;
	color: #016053; 	
}
#homepage {
	border-left: thin solid #fce298;
}
.resources {
	padding-left: 25px;	
	padding-bottom: 15px;
}
.resources a, .video1 a, .video2 a, .audiodownload a {
	text-decoration: none;
	border: thin solid #016053;
	background: #016053;
	border-radius: 5px;
	box-shadow: 0 5px 0 black;
	color: #fce298;
	cursor: pointer;
	font-size: 1.2em;
	font-variant: normal;
	font-weight: bold;
	margin: 10px;
	outline: 0;
	padding: 5px 10px;
	transition-property: background, border-radius;
	transition-duration: .2s, 1s;
	transition-timing-function: linear, ease-in;
}
.resources a:hover, .video1 a:hover, .video2 a:hover, .audiodownload a:hover {
	background: #fce298;
	color: #016053;
	border-radius: 50%;
}

/* ------Main Content----- */

.maincontent {
	border-bottom: thick double #261D00;
	margin-bottom: 25px;	
}
.section1 figure {
	float: left;
}
.section2 figure, .section3 figure, .section4 figure, .section5 figure {
	float: right;
}
.directions {
	clear: both;
}
.section3, .section4, .section5 {
	padding-top: 10px;
	padding-bottom: 10px;	
}
.section6 p {
	margin-right: 25px;
	margin-left: 25px;
	padding: 15px 25px;
	line-height: 2em;
}
.section1 p {
	margin-right: 25px;
	border-radius: 25px;
}
figure img {
	width: 400px;
	height: 266px;
}
figure {
	width: 400px;
    padding: 10px 10px 20px 10px;
    border: 2px solid #016053;
    background-color: white;
    box-shadow: 10px 10px 5px #261D00;
}
.rotate_right {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);	
}
.rotate_left {
	-ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);	
}

/* ---------Footer--------- */


footer {
	text-align: center;
	background-color: white;
	opacity: 0.85;
	width: 600px;
	margin-left: 200px;
	border-radius: 25px;
	-webkit-box-shadow: 7px 7px 5px 0 #261D00;
	box-shadow: 7px 7px 5px 0 #261D00;
}

/* --------Form--------- */
.label {
	display: inline-block;
	width: 250px;
	vertical-align: top;
	text-align: right;
	margin-right: 10px;
}
form {
	width: 750px;
	margin: 0 auto;	
}
legend {
	font-size: 1.1em;
	font-weight: bold;
	font-style: italic;
	margin-left: 20px;
}
.buttons {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
button {
	border: 0;
	background: #016053;
	border-radius: 10px;
	box-shadow: 0 5px 0 black;
	color: #fce298;
	cursor: pointer;
	font-size: 1.2em;
	font-variant: normal;
	font-weight: bold;
	margin: 0;
	outline: 0;
	padding: 2px 10px;
	transition: all .1s linear;
}
button:active {
	box-shadow: 0 2px 0 black;
	transform: translateY(3px);
}
fieldset {
	border: thick double #016053;
}
.contact, .background {
	margin: 20px;
}
#tfnewsearch{
	margin-top: 10px;
	float:right;
	margin-right: -500px;	
}
.tftextinput4{
	margin: 0;
	padding: 6px 15px;
	color:#666;
	border:1px solid #016053; 
	border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;	
}
.tftextinput4:focus::-webkit-input-placeholder {
	color:transparent;
}
.tftextinput4:focus::-moz-placeholder {
	color:transparent;
}
.tftextinput4:-moz-placeholder {
	color:transparent;
}
.tfbutton4 {
	margin: 0;
	padding: 0;
	width:28px;
	height:28px;
	outline: none;
	cursor: pointer;
	border: solid 1px #016053; 
	border-right:0px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	background: #016053;
	vertical-align: bottom;
}
.tfclear{
	clear:both;
}
.audio audio {
	padding-left: 40px;
}
.audio p {
	padding-left: 40px;
}
.video2 h4 {
	margin-left: 250px;
}
.video1 li, .video2 li {
	margin-top: 20px;
}
.audio {
	clear: both;
}
video {
	background-color: white;
	padding-top: 25px;
	border: 2px solid #016053;
	box-shadow: 10px 10px 5px #261D00;
}
.video1 {
	margin-left: 75px;
}
.video2 {
	float: right;
	margin-right: 75px;
	margin-top: 75px;
}
.video1download {
	float: right;
	margin-right: 250px;
	text-align: center;
}
.video2download {
	float: left;
	margin-right: 100px;
	text-align: center;
}
.video1download li, .video2download li, .audiodownload li {
	list-style-type: none;
}
.audiodownload li {
	display: inline;
}
.audiodownload h5 {
	margin-left: 50px;
}